<section>
    <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Muhammad Aiman</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>    
    <mat-card-content>
        <p>
        Dedicated and experienced Software Developer with a strong foundation in back-end development
  and database management. Proficient in C# .NET Core, database technologies like MongoDB and
  MySQL. A proactive problem-solver with a proven track record of delivering high-quality results
  within deadlines. Passionate about continuous learning and contributing to innovative projects that
  drive business success.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button matButton>LIKE</button>
        <button matButton>SHARE</button>
    </mat-card-actions>
    </mat-card>
</section>