.container {
  height: 100vh;
  display: flex;
}

.content {
  scroll-behavior: smooth;
  /* padding: 0rem 2rem 0rem 2rem; */
  overflow-y: auto;
  /* width: 100%; */
}

.content section {
  margin-bottom: 4rem;
}

.top-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-button {
    margin-right: 16px;
  }

  .title {
    font-weight: 500;
    font-size: xx-large;
  }
}