<div class="flex-container">
  <div class="text-container">
    <h2>Work Experience</h2>
    <p>Dedicated and experienced Software Developer with a strong foundation in back-end development
  and database management. Proficient in C# .NET Core, database technologies like MongoDB and
  MySQL. A proactive problem-solver with a proven track record of delivering high-quality results
  within deadlines. Passionate about continuous learning and contributing to innovative projects that
  drive business success.</p>
  </div>
  <img [src]=images[0] alt="Left Image" class="side-image left" />
  <img [src]=images[1] alt="Right Image" class="side-image right" />
</div>